.footer {
  background-color: $secondary_color;
  margin-top: auto;
  &__wrapper {
    display: flex;
    margin: 20px 0px 20px 0px;
    justify-content: space-between;
  }

  &__desc-logo {
    color: $primary_color;
    margin: 0px 20px 10px 0px;
    font-weight: 600;
    font-size: 16px;
  }

  &__desc-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    color: $white_color;
    line-height: 1.9;
  }

  &__about-title {
    color: $primary_color;
    font-size: 16px;
    margin: 0px 0px 15px 0px;
    font-weight: 600;
  }

  &__about-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    color: $white_color;
    line-height: 1.9;
  }

  &__catalog-title {
    color: $primary_color;
    font-size: 16px;
    margin: 0px 0px 15px 0px;
    font-weight: 600;
  }

  &__catalog-list {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    color: $white_color;
    line-height: 1.9;
  }

  &__catalog-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    color: $white_color;
    line-height: 1.9;
  }

  &__social-title {
    color: $primary_color;
    font-size: 16px;
    margin: 0px 0px 15px 0px;
    font-weight: 600;
  }
}
