.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 190px 0px 60px 0px;
  }

  &__text {
    flex: 0 1 50%;
    margin: 0px 50px 0px 0px;
  }

  &__title {
    @extend %title;
    padding: 0px 0px 50px 0px;
  }

  &__subtitle {
    @extend %subtitle;
  }

  &__image {
    margin: 0px 0px 40px 0px;
    flex: 0 1 46%;
  }
}
