<section class="contacts">
  <h3 class="contacts__title">Контакты</h3>
  <div class="contacts__wrapper">
    <div class="contacts__text">
      <img class="contacts__logo" src="../assets/images/logo.png" alt="polyflex">
      <p class="contacts__text-adress">г. Нижний Новгород,<br> Верхне-Волжская набережная, д. 8а<br>
        Тел.: +7 (831) 411-10-22,<br>
        +7 (910) 883-59-33,<br>
        +7 (915) 952-95-52<br>
      </p>
      <a class="contacts__text-adress" href="mailto:polyflex.iml@gmail.com">E-mail: polyflex.iml@gmail.com</a>
    </div>
    <div class="contacts__map">
      <script type="text/javascript" charset="utf-8" async
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3fde7ba47a0fe9d06b12a00ad12702d8c3efa2e5c5ce9422ecc4a390b7853c83&amp;width=800&amp;height=354&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
  </div>
</section>