<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__desc">
        <p class="footer__desc-logo">PolyFlex</p>
        <p class="footer__desc-text">г. Нижний Новгород,</p>
        <p class="footer__desc-text">Верхне-Волжская набережная, д. 8а.</p>
        <p class="footer__desc-text">Тел.: +7 (831) 411-10-22</p>
        <p class="footer__desc-text">Моб.: +7 (910) 883-59-33<br>Моб.: +7 (915) 952-95-52</p>
        <a class="footer__desc-text" href="mailto:polyflex.iml@gmail.com">E-mail: polyflex.iml@gmail.com</a>
      </div>
      <div class="footer__about">
        <p class="footer__about-title">О нас</p>
        <p class="footer__about-text">Компания PolyFlex является<br>поставщиком IML (In-Mould) и BOPP плёнок<br>и
          официальным представителем завода<br>POLFILM на территории стран ЕАЭС</p>
      </div>
      <ul class="footer__catalog">
        <li class="footer__catalog-title">Каталог</li>
        <li class="footer__catalog-list"><a class="footer__catalog-link" href="./iml-polable-122-liq.html">Плёнка
            IML</a></li>
        <li class="footer__catalog-list">Плёнка ВОРР</li>
        <li class="footer__catalog-list">Плёнка для самоклеящейся этикетки</li>
        <li class="footer__catalog-list">Плёнка для круговой этикетки</li>
        <li class="footer__catalog-list">Ламинированная бумага</li>
      </ul>
    </div>
  </div>
</footer>