<meta charset="UTF-8">
<link rel="stylesheet" href="assets/css/style.min.css">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=1200">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="address=no">
<meta name="description"
  content="Эксклюзивный производитель In-mould пленок и крупнейший производитель биаксиальноориентированных пленок">
<meta name="keywords" content="" />
<link rel="shortcut icon" href="../assets/images/favicon.png" type="image/png">
<link rel="preconnect" href="https://fonts.google.com/">
<title>{{ title }}</title>