<nav class="nav">
  <div class="container">
    <div class="nav__wrapper">
      <a id="main" class="nav__logo" href="/"><img src="../assets/images/logo.png" alt="polyflex"></a>
      <ul class="nav__menu">
        <li class="nav__menu-list"><a id="main" class="nav__menu-link" href="/">Главная</a>
        </li>
        <li class="nav__menu-list"><a class="nav__menu-link" id="product" href="/#catalog">Продукция</a>
          <ul class="nav__submenu">
            <li class="nav__submenu-list"><a class="nav__submenu-link" href="../iml-polable-122-liq.html">Пленка IML
                122 LIQ</a></li>
            <li class="nav__submenu-list"><a class="nav__submenu-link" href="../iml-polable-132-liq.html">Пленка IML
                132 LIQ</a></li>
            <li class="nav__submenu-list"><a class="nav__submenu-link" href="../iml-polable-132-liv.html">Пленка IML
                132 LIV</a></li>
            <li class="nav__submenu-list"><a class="nav__submenu-link" href="../iml-polable-142-liq.html">Пленка IML
                142 LIQ</a></li>
            <li class="nav__submenu-list"><a class="nav__submenu-link" href="../iml-polable-142-lit.html">Пленка IML
                142 LIT</a></li>
            <li class="nav__submenu-list"><a class="nav__submenu-link" href="../iml-polable-142-liv.html">Пленка IML
                142 LIV</a></li>
            <li class="nav__submenu-list"><a class="nav__submenu-link" href="../iml-polable-142-tml.html">Пленка IML
                142 TML</a></li>
            <li class="nav__submenu-list"><a class="nav__submenu-link" href="../iml-polable-152-liq.html">Пленка IML
                152 LIQ</a></li>
          </ul>
        </li>
        <li class="nav__menu-list" id="scrollToContacts"><a class="nav__menu-link" href="#">Контакты</a></li>
      </ul>
    </div>
  </div>
</nav>