<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/css/style.min.css">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=1200">
  <meta name="robots" content="index, follow">
  <meta name="google" content="notranslate">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">
  <meta name="description"
    content="Эксклюзивный производитель In-mould пленок и крупнейший производитель биаксиальноориентированных пленок">
  <meta name="keywords" content="" />
  <meta http-equiv="refresh" content="10; url=/">
  <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/png">
  <link rel="preconnect" href="https://fonts.google.com/">
  <title>404</title>
</head>

<body>

  <div id="app">
    {{> nav }}
    {{> body }}
  </div>

  <script src="assets/js/script.js"></script>
</body>

</html>